<!-- <app-profile></app-profile>  -->
<div class="kyc-details">
    <h4>Kyc Verified Documemts</h4>
    <div class="content">
        <div fxLayout="row wrap" fxLayoutGap="16px grid" class="flex-container">
            <div fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.xl="20%"
                *ngFor="let doc of kyc">
                <mat-card class="mat-elevation-z4 doc-card">

                    <ng-container *ngIf="isImageUrl(doc.key); else docTab" >
                        <img src="{{doc.url}}" height="200" />
                    </ng-container>
                    <ng-template #docTab>
                        <iframe src={{doc.url}} height="300"
                        class="align-center verifiedImg">
                       </iframe>
                    </ng-template>

                    <mat-card-header> 
                    </mat-card-header>
                </mat-card>
            </div>
        </div>
    </div>
</div>


