<div class="reset">
<!-- <app-profile></app-profile>  -->
<form [formGroup]="resetGroup" (ngSubmit)="submitForm()" novalidate class="form-group" >    

    <h3>Reset your Password</h3>
    <mat-form-field  appearance="fill">
        <mat-label>Current Password</mat-label>
      <input matInput placeholder="old password" formControlName="oldPassword">
    </mat-form-field>

    <mat-form-field  appearance="fill">
        <mat-label>New Password</mat-label>
      <input matInput placeholder="new password" formControlName="newPassword">
    </mat-form-field>

    <mat-form-field  appearance="fill">
        <mat-label>Retype New Password</mat-label>
      <input matInput placeholder="retype new password" formControlName="retypeNewPassword">
    </mat-form-field>

    <div class="button-wrapper">
      <button mat-raised-button color="primary" [disabled]="resetGroup.invalid">Submit</button>
    </div>

</form>

</div>