<mat-sidenav-container class="container">
    <mat-sidenav #sidenav mode="side" opened class="sidenav" [fixedInViewport]="true" [formGroup]="myForm">
      <mat-toolbar class="" style="text-align: center;">Menu</mat-toolbar>

      <mat-form-field appearance="fill">
        <mat-label>Start Date</mat-label>
        <input matInput [matDatepicker]="startPicker" formControlName="startDate">
        <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
        <mat-datepicker #startPicker></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>End Date</mat-label>
        <input matInput [matDatepicker]="endPicker" formControlName="endDate">
        <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
        <mat-datepicker #endPicker></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Transaction Id</mat-label>
        <input matInput formControlName="transactionID" >
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Merchant</mat-label>
        <input matInput formControlName="merchant">
      </mat-form-field>     

      <mat-form-field appearance="fill">
        <mat-label>Account Type</mat-label>
        <mat-select disableOptionCentering formControlName="accountType">
          <mat-option value="primary">Primary</mat-option>
          <mat-option value="secondary">Secondary</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Transaction Type</mat-label>
        <mat-select disableOptionCentering  formControlName="transactionType">
          <mat-option value="both">Both</mat-option>
          <mat-option value="credit">Credit</mat-option>
          <mat-option value="debit">Debit</mat-option>
        </mat-select>
      </mat-form-field>

      <div class="search-parent">
        <button mat-raised-button color="primary" class="search-button" (click)="onSearch()"> search</button>
      </div>


    </mat-sidenav>
    <mat-sidenav-content class="content">
        <mat-form-field appearance="standard">
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Type Something" #input>
          </mat-form-field>
          <div class="mat-elevation-z8" *ngIf="dataSource">
            <table mat-table [dataSource]="dataSource" matSort id="hi" #hi>
              <ng-container matColumnDef="transactionID">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Transaction Id </th>
                <td mat-cell *matCellDef="let row"> {{row.transactionID}} </td>
              </ng-container>

              <ng-container matColumnDef="merchant"class="transaction-table">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Merchant </th>
                <td mat-cell *matCellDef="let row"> {{row.merchant}} Communication Ltd</td>
              </ng-container>
          
              <ng-container matColumnDef="receiverAccountNumber">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Receiver Account Number </th>
                <td mat-cell *matCellDef="let row"> {{row.receiverAccountNumber}} </td>
              </ng-container> 
          

              <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Description</th>
                <td mat-cell *matCellDef="let row"  [ngStyle]="{'color':row.description === 'Debited' ? '#E84398' : 'green'   }"> {{row.description}} </td>
        
              </ng-container>
          

              <ng-container matColumnDef="amount">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Amount </th>
                <td mat-cell *matCellDef="let row"> &#x20B9; {{row.amount}} </td>
              </ng-container>

              <ng-container matColumnDef="transactionStartedAt">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
                <td mat-cell *matCellDef="let row"> {{row.transactionStartedAt |  date:'shortDate' }} </td>
              </ng-container>
          
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="8">No data (or) No data matching the filter "{{input.value}}"</td>
              </tr>
            </table>
          <button (click)="downloadPDF()">click here</button>
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
          </div>
        <div><button mat-raised-button color="primary" class="search-button" (click)="onDownload()" >  Download</button></div>

          
    </mat-sidenav-content>
</mat-sidenav-container> 
