table {
    width: 100%;
  }
.mat-sidenav-content{
    margin-left: 19%;
  }
.mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
td, th {
    width: 25%;
  }
.mat-drawer{
    margin-top: 6vh;
    background-color: #f2f5f7;
    /* font-size: 29px; */
    width: 16%;
}
// .search-button{
//   margin-top: 7vh;
//   // margin-left: 11%;
//   // margin-left: ;
// }
.search-parent{
  margin-top: 7vh;
  display: grid;
  place-items: center;
}

.mat-toolbar{
  text-align: center;
}
th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
  text-align: center;
}