<mat-card class="login-card"> 
<mat-card-title *ngIf="code===false">Forgot Password?</mat-card-title>
<mat-card-title *ngIf="code===true">Enter The Verification Code</mat-card-title>

<mat-card-content  *ngIf="code===false">
    
    <form [formGroup]="form" (ngSubmit)="submit()">
    
      <!-- <mat-form-field>
        <input type="text" matInput placeholder="Username" formControlName="username">
      </mat-form-field>
      <mat-form-field>
        <input type="password" matInput placeholder="Password" formControlName="password">
      </mat-form-field> -->
    
      <mat-form-field appearance="fill">
        <mat-label>username</mat-label>
        <input matInput>
      </mat-form-field>
    
      
    
    
    <div class="button">
      <button type="submit" mat-raised-button>Reset your password</button>
    </div>
    <div class="button">
        <button type="submit" mat-raised-button [routerLink]="['/']">Cancel</button>
    </div>
    
    
    </form>
    </mat-card-content>
    <mat-card-content  *ngIf="code===true">
        
        <form [formGroup]="form" (ngSubmit)="submit()">
        
          <!-- <mat-form-field>
            <input type="text" matInput placeholder="Username" formControlName="username">
          </mat-form-field>
          <mat-form-field>
            <input type="password" matInput placeholder="Password" formControlName="password">
          </mat-form-field> -->
        
          <mat-form-field appearance="fill">
            <mat-label>Enter The code</mat-label>
            <input matInput>
          </mat-form-field>  
          <mat-form-field appearance="fill">
            <mat-label>New Password</mat-label>
            <input matInput>
          </mat-form-field>        
        <div class="button">
          <button type="submit" mat-raised-button>Submit</button>
        </div>        
        </form>
        </mat-card-content>
    
    </mat-card>
    