.add_user_form{
    display: grid;
    place-items: center;
    height: 100%;
    background-color: lightgray;
    
    
    form{
        background-color: white;
        min-width: 22vw;
        padding: 75px;
        padding-bottom: 0px !important;
        border: lightgray 2px solid;
        border-radius: 20px;

    }
    .mat-form-field{
        width: 100% !important;

    }
    h3{
        color: #3f51b5;

    }
}
.formdiv{
    display: flex;
    justify-content: center;
    align-items: center;
}