<!-- <nav mat-tab-nav-bar>
    <a mat-tab-link [routerLink]="['./']" (click)="activeLink = 'home'" [active]="activeLink == 'home'">Home</a>
    <a mat-tab-link routerLink="./secondary_users" (click)="activeLink = 'secondary'" [active]="activeLink == 'secondary'">Secondary Users</a>
    <a mat-tab-link routerLink="./transactions" (click)="activeLink = 'transactions'" [active]="activeLink == 'transactions'">Transactions</a>
    <a mat-tab-link routerLink="./reports" (click)="activeLink = 'reports'" [active]="activeLink == 'reports'">Reports</a> -->
  
    <!-- <a mat-tab-link *ngFor="let link of links"
       (click)="activeLink = link"
       [active]="activeLink == link"> {{link}} </a> -->
<!-- 
  </nav> -->


<mat-tab-group color="primary" #tabGroup>
    <mat-tab label="Home">
        <app-home *ngIf="tabGroup.selectedIndex === 0"></app-home>
    </mat-tab>
    <mat-tab label="Transactions">
        <app-transactions *ngIf="tabGroup.selectedIndex === 1"></app-transactions>
    </mat-tab>
    <mat-tab label="Secondary Users">
        <app-secondary-users *ngIf="tabGroup.selectedIndex === 2"></app-secondary-users>
    </mat-tab>
    <mat-tab label="Reports">
        <app-reports *ngIf="tabGroup.selectedIndex === 3"></app-reports>
    </mat-tab>
    <mat-tab disabled class="profile-menu">
        <ng-template mat-tab-label>
            <button mat-icon-button [matMenuTriggerFor]="profileMenu">
                <ngx-avatar name="Ted Mosby" bgColor="#0F2027" size=40></ngx-avatar>
                <!-- <mat-icon class="profile-icon" style="color: black;">view_headline</mat-icon> -->
            </button>
        </ng-template>
    </mat-tab>
</mat-tab-group>

<button mat-icon-button [matMenuTriggerFor]="profileMenu" class="profile-menu" >
    <mat-icon class="profile-icon" style="color: whitesmoke;">view_headline</mat-icon>
</button> 

<mat-menu #profileMenu="matMenu" yPosition="below" xPosition="before">
    <a href="http://localhost:4200/profile">
        <button mat-menu-item routerLink="profile/view">
            <mat-icon>account_circle</mat-icon>
            <span>My Profile</span>
        </button>
    </a>
  
    <button mat-menu-item disabled>
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
    </button>
</mat-menu>

