.profile-menu{
    top: 0;
}
 .mat-tab-label-container {

     background: linear-gradient(to left,#2C5364, #203A43, #0F2027 ) !important;
     font-family: cursive;
     //height: 5vh;
 }
// .profile-menu {
//     // background-color: blue !important;
//     // justify-self: flex-end !important;
//     // align-self: flex-end !important;
//     margin-left: 50%;
// }

// // ::ng-deep .mat-tab-label-content {
// //     /* styles here */
// //     color: white !important;
// //   }

// }
// ::ng-deep .mat-ink-bar{
//     background-color: whitesmoke !important; 
//     margin-top: 1vh;
//     padding-bottom: 0.2vh;

// }
.mat-tab-header {
    position: fixed !important;
}
mat-tab-group{
    justify-content: flex-end !important;

}
.mat-tab{
    justify-content: flex-end !important;


}
 
::ng-deep .mat-tab-labels{
    justify-content: flex-end !important;
}

.nav{
    justify-content: flex-end !important;
}
