.add_user{
    margin-left: 90%;
    color: #3f51b5;;
}
.content {
    padding: 16px;
    margin-left: 20%;
    padding-top: 5%;
}

.content > mat-card {
    margin-bottom: 16px;
}
.movie-thumbnail{
    height: 200px;
    position: relative;
}
.movie-card{
    cursor: pointer;
    &:hover {
      transform: scale(1.01);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
    }
    height: 100%;
    box-sizing: border-box;
}
.mat-raised-button{
  background-color: #242222;
  padding: 0.1em 0.3em;
  line-height: normal;
  min-width: 0;
  color: aliceblue;
  font-size: 0.7em;
  margin: 0px 1.5px;
}
// .mat-card-header{
//   height: 30px;
// }
.mat-card-title{
  font-size: 0.8em;
  font-weight: 800;
}
.mat-card-content{
  font-size: 0.6em;
  font-weight: 600;
  margin-bottom: 0%;
}
.release-date{
  position: absolute;
  top: 1.5%;
  right: 3%;
  background: rgba(139, 0, 0, 0.7);
  font-size: 0.6em;
  padding: 1px;
  color: aliceblue;
}
.genre-button-actions{
  margin-bottom: 0%;
}
