.add_user{
    //margin-left: 90%;
    color: #3f51b5;;
}
.content {
    padding: 16px;
    margin-left: 20%;
    padding-top: 5%;
}

.content > mat-card {
    margin-bottom: 16px;
}
.movie-thumbnail{
    height: 200px;
    position: relative;
}
.movie-card{
    cursor: pointer;
    &:hover {
      transform: scale(1.01);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
    }
    height: 100%;
    box-sizing: border-box;
}
.mat-button{
  // background-color: #242222;
  // padding: 0.1em 0.3em;
  // min-width: 0;
  // color: aliceblue;
  // font-size: 0.7em;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 8px;
  width: fit-content;
  color: #000075;
  background: rgba(138, 133, 133,0.1);
}
.mat-card-header{
  justify-content: space-between;
}
.mat-card-title{
  // font-size: 0.8em;
  font-weight: 800;
}
.mat-card-content{
  // font-size: 0.6em;
  font-weight: 450;
  margin-bottom: 0%;
  width: 10vw;
  cursor: pointer;
  
  
}
.release-date{
  position: absolute;
  top: 1.5%;
  right: 3%;
  background: rgba(139, 0, 0, 0.7);
  font-size: 0.6em;
  padding: 1px;
  color: aliceblue;
}
.genre-button-actions{
  margin-bottom: 0%;
}
.secondary{
  margin-left: 15%;
  margin-right:5%;
  margin-top:4%;
  display: flex;
  flex-wrap: wrap;
  //justify-content: space-between;
  gap: 3vw;
  

}
.bg-active{
  color: green;
}
.bg-disable{
  color: #e84398;
}
.balance{
  font-size: 30px;
}
.profile-div{
  display: flex;
align-items: center;
gap:10px;

}
.mat-card{
  border-radius: 20px;
}
.mat-card:hover {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
body{
  background-color: aliceblue;
}
.mat-tab-body{
  height: 100vh;
  background-color: aliceblue;
}
// ::ng-deep .mat-tab-body-wrapper{
//   background: linear-gradient(to right, #4cb8c4, #3cd3ad); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

//   //background-color: aquamarine !important;
//     height: 100vh !important;
// }
.main-secondary{
  background: linear-gradient(to right, #4cb8c4, #3cd3ad); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  //background-color: aquamarine !important;
    height: 100vh !important;

}
.mat-card-content{
  width: 200px;
}