<div class="main-secondary">
<div class="add_user">
    <button  mat-button (click)="openDialog()">
        <mat-icon>add_circle</mat-icon>      Add Secondary User
        
    </button>
    </div>
<!-- <div class="content">
    <div fxLayout="row wrap" fxLayoutGap="16px grid"       
          class="flex-container"
         >
         [{"secondaryId":234,"accountNumber":111,"firstName":"ram","lastName":"kumar","email":"t@gmail.com","mobile":"99458923","gender":"Male","relationship":"frand","isKycVerified":true,"bcity":"Chennai","panNumber":"gh12","isActive":true,"createdAt":"2021-08-09T19:43:45.000Z","updatedAt":"2021-08-09T19:43:45.000Z","isMinor":false,"fundsAllocated":1000,"fundsSpent":0}]
        <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" fxFlex.xl="20%" *ngFor="let user of secondaryUsers">
            <mat-card class="mat-elevation-z4 movie-card">
                <mat-card-header>
                    <ngx-avatar mat-card-avatar name="{{user.firstName}} {{user.lastName}}" bgColor="#0F2027" size=30 class="example-header-image"></ngx-avatar>
                  <mat-card-title>{{user.firstName}} {{user.lastName}}</mat-card-title>
                  <mat-card-subtitle>{{ user.relationship}}</mat-card-subtitle>


                </mat-card-header>
                <mat-card-content>
                  <p>
                      
                  </p>

                </mat-card-content>
            </mat-card>
        </div>
      </div>
  </div> -->
  <div class="secondary">
  <mat-card class="profile-card" *ngFor="let movie of ['doc', 'doc', 'doc', 'doc', 'doc', 'doc']">
  
      <mat-card-header>
        <mat-card-title>Ted Mosby</mat-card-title>
        <mat-card-subtitle>friend</mat-card-subtitle>
         <ngx-avatar name="Ted Mosby" bgColor="#0F2027" size=30></ngx-avatar>
      </mat-card-header>
  
      <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
  <!-- 
      <button mat-icon-button mat-card-image> -->
        <!-- <ngx-avatar name="Ted Mosby" bgColor="#0F2027" size=60></ngx-avatar> -->
        <!-- <mat-icon class="profile-icon" style="color: black;">view_headline</mat-icon> -->
      <!-- </button> -->
  
      <mat-card-content>
          <div class="balance">
              <h3> &#x20B9; 12000</h3>
          </div>
        <div class="profile-div">
          <mat-icon class="profile-icon" style="color: black;">phone</mat-icon> 
          <span>+91 9840389581</span>
        </div>
        <div class="profile-div">
          <mat-icon class="profile-icon" style="color: black;">email</mat-icon> 
          <span>sangeetha@gmail.com</span>
        </div>
        <div class="profile-div">
          <mat-icon class="profile-icon" style="color: black;">perm_identity</mat-icon> 
          <span>female</span>
        </div>
        <div class="profile-div">
          <mat-icon class="profile-icon" style="color: black;">location_on</mat-icon> 
          <span>Chennai</span>
        </div>

      </mat-card-content>
       <mat-card-actions >
        <button mat-button *ngIf="active" class="bg-active" (click)="activate()">Active</button>
        <button mat-button *ngIf="!active" class="bg-disable" (click)="activate()" >Disabled</button>
      </mat-card-actions>
      

      
    </mat-card>
</div>
</div>