:host{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    //margin-left: 20vw;
    flex-direction: row;
    //flex-direction: column;
    // margin-top: 3vh;
       //width: fit-content;
    padding-left: 5%;
    margin-top: 3vh;
    gap:5%;
    .credit-card{
        background-image: url("https://expense.happay.in/assets/images/physical_card.svg");
        width: 345px;
        height: 210px;
        //padding: 3vw 10vw 2vw 10vw;
        color: white;
        background-repeat: no-repeat;
        display: flex;
        //flex-direction: column;
        flex: auto;
        align-items: center;
        justify-content: center;
        .card-heading{
            width: inherit;
            .top{
                display: flex;
                align-items: center;
                justify-content: space-around;
            }
            .cardnum{
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .bottom{
                padding-left: 5%;
                font-size: 12px;
            }
        
        }
        
    }
    .card-button{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;
        /* margin-top: 9px; */
        margin-bottom: 24px;
        button{
            background-color: #0081bc;
        }
    }
    .card-title h1{
        color: #0081bc;
        font-family: cursive;
        margin-left: 2%;
    }

}
