
<div class="credit-card">
    <div class="card-heading">
      <div class="top">
        <p>HDFC BANK</p>
        <img src="https://expense.happay.in/assets/images/master_card_logo.svg" />
      </div>
      <div class="cardnum">
        <h3>5261 &nbsp; 24xx &nbsp; xxxx &nbsp; 38xx</h3>
      </div>
      <div class="bottom">
        CardHolder <br/>
        <b>Thirumalai S</b>
      </div>
    </div>
  </div>
  <div class="credit-card">
    <div class="card-heading">
      <div class="top">
        <p>HDFC BANK</p>
        <img src="https://expense.happay.in/assets/images/master_card_logo.svg" />
      </div>
      <div class="cardnum">
        <h3>5261 &nbsp; 24xx &nbsp; xxxx &nbsp; 38xx</h3>
      </div>
      <div class="bottom">
        CardHolder <br/>
        <b>Thirumalai S</b>
      </div>
    </div>
  </div>
  <div class="credit-card">
    <div class="card-heading">
      <div class="top">
        <p>HDFC BANK</p>
        <img src="https://expense.happay.in/assets/images/master_card_logo.svg" />
      </div>
      <div class="cardnum">
        <h3>5261 &nbsp; 24xx &nbsp; xxxx &nbsp; 38xx</h3>
      </div>
      <div class="bottom">
          CardHolder <br/>
          <b>Thirumalai S</b>
        </div>
    </div>
  </div>
  <div class="credit-card">
    <div class="card-heading">
      <div class="top">
        <p>HDFC BANK</p>
        <img src="https://expense.happay.in/assets/images/master_card_logo.svg" />
      </div>
      <div class="cardnum">
        <h3>5261 &nbsp; 24xx &nbsp; xxxx &nbsp; 38xx</h3>
      </div>
      <div class="bottom">
        CardHolder <br/>
        <b>Thirumalai S</b>
      </div>
    </div>
    
  </div>