<!-- <app-profile></app-profile> -->
<div class="profile-main-div">
<mat-card class="profile-card"> 
    <mat-card-header>
      <mat-card-title>{{user.firstName}} {{user.lastName}}</mat-card-title>
      <mat-card-subtitle>{{userData.role}}</mat-card-subtitle>
      <ngx-avatar name="Ted Mosby" bgColor="#0F2027" size=60></ngx-avatar>
    </mat-card-header>

    <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
<!-- 
    <button mat-icon-button mat-card-image> -->
      <!-- <ngx-avatar name="Ted Mosby" bgColor="#0F2027" size=60></ngx-avatar> -->
      <!-- <mat-icon class="profile-icon" style="color: black;">view_headline</mat-icon> -->
    <!-- </button> -->

    <mat-card-content>
      <div class="profile-div">
        <mat-icon class="profile-icon" style="color: black;">phone</mat-icon> 
        <span>{{user.mobile}}</span>
      </div>
      <div class="profile-div">
        <mat-icon class="profile-icon" style="color: black;">email</mat-icon> 
        <span>{{user.email}}</span>
      </div>
      <div class="profile-div">
        <mat-icon class="profile-icon" style="color: black;">perm_identity</mat-icon> 
        <span>{{user.gender}}</span>
      </div>
      <div class="profile-div">
        <mat-icon class="profile-icon" style="color: black;">location_on</mat-icon> 
        <span>{{user.bcity}}</span>
      </div>
      <div class="profile-div">
        <mat-icon class="profile-icon" style="color: black;">badge</mat-icon> 
        <span>{{user.panNumber}}</span>
      </div>

    </mat-card-content>

    <mat-card-actions>
      <button mat-button disabled>Edit</button>
    </mat-card-actions>
  </mat-card>
</div>