.profile-card{
    margin-top: 5%;
    margin-bottom: 5%;
    // margin-left: 20%;
    display: flex;
    flex-direction: column;
    // justify-content: flex-start;
    width: 400px;
    height: fit-content;
    border-radius: 10px;
    background: linear-gradient(to right, #36d1dc, #5b86e5); 
    cursor: pointer;
    &:hover {
        transform: scale(1.01);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
      }
}
.mat-card-content{
    margin-top: 30px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-items: center;
    justify-self: center;
}
.profile-div{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    span{
        font-size: medium;
        padding-left: 20px;
    }
}
.mat-card>.mat-card-actions:last-child{
    display: flex;
    justify-content: center;
}

.mat-card-header {
    justify-content: space-between;
}

.profile-main-div{
    height: 100vh;
    display: flex;
    // align-items: center;
    justify-content: center;
}