
<mat-card class="login-card"> 
  <mat-card-title>Login</mat-card-title>

<mat-card-content *ngIf="reset===false">
<form [formGroup]="form" (ngSubmit)="submit()">
  <!-- <mat-form-field>
    <input type="text" matInput placeholder="Username" formControlName="username">
  </mat-form-field>
  <mat-form-field>
    <input type="password" matInput placeholder="Password" formControlName="password">
  </mat-form-field> -->
  <mat-form-field appearance="fill">
    <mat-label>username</mat-label>
    <input matInput formControlName="username">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>password</mat-label>
    <input matInput formControlName="password">
  </mat-form-field>


<div class="button">
  <button type="submit" mat-raised-button [disabled]="form.invalid">login</button>
  <p></p>
  <div class="forgot">
    <a mat-list-item [routerLink]="['/forgot-password']"> Forgot Password? </a>
    <a mat-list-item [routerLink]="['/signup']"> Click here to Signup? </a>
</div>
</div>
</form>
</mat-card-content>

<mat-card-content  *ngIf="reset===true">
  <form [formGroup]="resetPassForm" (ngSubmit)="resetPassSubmit()">  

    <mat-form-field appearance="fill">
      <mat-label>username</mat-label>
      <input matInput formControlName="username">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Enter temporary password</mat-label>
      <input matInput formControlName="temporaryPassword">
    </mat-form-field>  

    <mat-form-field appearance="fill">
      <mat-label>New Password</mat-label>
      <input matInput formControlName="newPassword">
    </mat-form-field>        

  <div class="button">
    <button type="submit" mat-raised-button [routerLink]="['/']" [disabled]="resetPassForm.invalid">Submit</button>
  </div>        
  </form>
  </mat-card-content>
</mat-card>
