:host {
    margin-top: 26vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }


  @media (max-width: 550px) {
    .mat-card {
      background-color:ghostwhite !important;
      max-height: 50vh !important;
      margin-top: 1vh !important;
      border-radius: 4%;
      box-shadow: 1px 3px 2px lightslategray ;
      border: 1px;
      min-width: 15vw;
    }
  }
  
// .login-card{
    mat-card-title{
        text-align: center;
    }
      mat-card-content {
        display: flex;
        justify-content: center;
        border: 1px;
        margin: 10px 2px;
        // background-color:lightslategray;
      }
    //  .mat-form-field-flex {
    //     padding-bottom: 0.75em !important;
    //   }
    
    //   .error {
    //     padding: 16px;
    //     width: 300px;
    //     color: white;
    //     background-color: red;
    //   }
    
    //   .button {
    //     display: flex;
    //     justify-content: flex-end;
    //   }
    
      
      .mat-card{
        background-color:ghostwhite !important;
        max-height: 34vh;
        border-radius: 4%;
        box-shadow: 1px 3px 2px lightslategray ;
        border: 1px;
        min-width: 15vw;
      }

      .mat-form-field{
          padding: 10px;
          display:  block !important;
      }
      .button{
          display: flex;
        //   margin-top: 0.75em;
          flex-direction: column;
          align-items: center;
          justify-content: center;
      }
// }
.mat-raised-button{
  // background-color: #3c424e;
  background-color:  rgba(128, 138, 157, 0.30);
  // color: whitesmoke;
  cursor: pointer;

}
.mat-raised-button:hover{
  background-color: rgba(128, 138, 157, 1);;
  color: whitesmoke;
}