<div class="wrapper">

  <div class="content">
    <!-- <div class="header-dashboard"><h1>Welcome To FamBudget</h1></div> -->
    <div fxLayout="row wrap" fxLayoutGap="16px grid" class="flex-container">
      <div fxFlex="30%" fxFlex.xs="50%" fxFlex.sm="50%" fxFlex.xl="10%"
        *ngFor="let user of secondaryUsers;" class="flex-item">
        <mat-card class="mat-elevation-z4 prof-card">

          <mat-card-header class="card-header">
            <ngx-avatar mat-card-avatar name="{{user.firstName}} {{user.lastName}}" bgColor="#0F2027" size=41 class="example-header-image">
            </ngx-avatar>
            <mat-card-subtitle style="font-weight: bold;">{{user.firstName}} {{user.lastName}}</mat-card-subtitle>
            <mat-card-subtitle>{{user.relationship}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <div style="display: block;">
              <canvas baseChart [data]="[user.fundsAllocated, user.fundsSpent]" [labels]="usersChartLabels" [chartType]="usersChartType"
                [options]="userChartOptions" [colors]="userChartColor" [legend]="true"  width="300" height="200"
                style='width:326px;height:240px;'>
              </canvas>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>

  <div style="background-color: #f5f5f5">
    <div style="display: block;">
      <div class="balance">
        <h3>Balance &#x20B9; {{balance}}</h3></div>
      <canvas baseChart 
        [data]="pieChartData" 
        [labels]="pieChartLabels" 
        [chartType]="pieChartType"
        [options]="pieChartOptions"
        [plugins]="pieChartPlugins"
        [colors] = "pieChartColor"
        [legend]="pieChartLegend"
        
        >
        

      </canvas>
    </div>
    
  </div>
  <div style="background-color: #f5f5f5;">
    <div style="display: block;">
      <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
        [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType" [colors]="barChartColor">
      </canvas>
    </div>
  </div>
  <div>
    <h3>Transactions</h3>
    <div class="container" *ngFor="let trans of recentTransactions">
      <div class="transaction">
        <h4>{{trans.transactionStartedAt | date:'medium' }}</h4>
        <div>
          <b>{{trans.description}}</b>
          <br/>
          <small>Successfully</small>
        </div>
        <b *ngIf="trans.senderAccountNumber==111" style="color: #E84398;">-₹{{trans.amount}}</b>
        <b *ngIf="trans.senderAccountNumber!=111" style="color: darkseagreen;">+₹{{trans.amount}}</b>
      </div>
    </div>
    
  
  </div>
</div>

<ngx-spinner></ngx-spinner>