<mat-sidenav-container class="container">
  <mat-sidenav #sidenav mode="side" opened class="sidenav" [fixedInViewport]="true">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>

      <a mat-list-item [routerLink]="['./view']" [routerLinkActive]="['active']"><i class="fas fa-user"></i> &nbsp; My
        Profile</a>
      <a mat-list-item [routerLink]="['/profile/kyc']" [routerLinkActive]="['active']"><i class="fas fa-file-alt"></i>
        &nbsp; Kyc Document</a>
      <a mat-list-item [routerLink]="['/profile/changepassword']" [routerLinkActive]="['active']"><i
          class="fas fa-unlock-alt"></i> &nbsp; Reset Password</a>

    </mat-nav-list>
    <button mat-flat-button>
      <a href="http://localhost:4200/dashboard" class="home-link">
        <i class="fas fa-home"></i> &nbsp;
        <span>Home</span>
      </a>
    </button>

  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>