.mat-list-item.active{
    background-color:  rgba(229, 231, 233, 0.5)
}
.sidenav{
    background-color: rgba(0,129,188);
    color: white !important;
    .mat-toolbar{
        color: white;
        background-color: rgba(0,129,188) !important;
    }
}
.mat-list-item{
    color: white;
}
.home-link{
    text-decoration: none !important;
    color: white;
}
.mat-flat-button{
 display: flex;
 justify-content: center;
 background-color: rgba(0,129,188);
}